{% extends "admintemplate.html" %}
{% block title %}Add teacher{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <form class="col-md-6 offset-md-3 border p-5 mt-5 text-center" method="post">
            <img src="/static/imgs/logo.jpg" width="100" class="rounded-circle">
            <div class="my-2">
                <h3>Edit Subject</h3>
            </div>
            <div class="my-2">
                <input type="text" name="name" class="form-control" placeholder="Enter name" required value="{{subject[2]}}">
            </div>
            <div class="my-2 text-start">
                <input type="checkbox" name="isoptional" {% if subject[3]=="True" %}checked{% endif %}> Optional
            </div>
            <div class="my-2">
                <input type="submit" value="Update" class="btn btn-primary w-100">
            </div>
        </form>
    </div>
</div>
{% endblock %}